= form_for @contest do |f|
  -if @contest.errors.any?
    .alert
      %h2 Error
      %ul
        - @contest.errors.full_messages.each do |msg|
          %li= msg

  %div= f.text_field :name, placeholder: 'contest name'
  %div= f.text_area :message, placeholder: 'message', rows: 2, cols: 38
  %div= f.submit @contest.new_record? ? 'Create' : 'Update'
