- content_for :title, @contest.name
%h1= yield :title

%p.notice= notice
%p.alert= alert

#contest
  %div
    %p The standing is updated every minute.
    #standing
      = render 'standing'

  %div
    = link_to 'Reload', contest_path(@contest), remote: true, class: %w[link-button], id: 'reload'
    .hspace
    = link_to 'Edit this contest', edit_contest_path(@contest), class: 'link-button'
    .hspace
    - if @current_user
      - if @contest.users.exists?(@current_user.id)
        = form_tag(leave_contest_path(@contest), class: 'inline') do
          = submit_tag 'Leave'
      - else
        = form_tag(join_contest_path(@contest), class: 'inline') do
          = submit_tag 'Join'

  %div
    %h2 Activities
    = render 'activities/list'

:javascript
  $(document).ready(function() {
    $('#reload').on('ajax:success', function(evt, data, xhr) {
      $('.alert').text('');
      $('#standing').html(data);
    }).on('ajax:error', function(evt, xhr) {
      var alertBox = $('.alert');
      alertBox.text('Reload failed: ' + xhr.status + ' ' + xhr.statusText);
    });

    setInterval(function() {
      $('#reload').click();
    }, #{ContestsController::STANDING_RELOAD_INTERVAL} * 1000);
  });
